@charset "utf-8";
/* CSS Document */
 <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<script>const keyLisensi = "MDExMDI2MjE0Mg==";</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://fontawesomee.github.io/Gr4ti5.css">
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
        <style>
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
:root {
  --header-height: 3.5rem;
  --nav-width: 100%;
/*========== SETT COLOR SESUKAMU==========*/
  --header-color: #fd7b03;
  --lapisan-header:#1B9F98;
  --tabel-topup: #fd7b03;
  --banner-color: #fd7b03;
  --color-ride: #fd7b03;
  --color-car: #F38ED8;
  --color-food: #FE5722;
  --color-send: #01B2DE;
  --color-shop: #01B2DE;
  --color-donasi: #FE5722;
  --color-ppob: #fd7b03;
  --color-more: #ff000000;
  --color-tab: #fd7b03;
  --color-bannerpesan: #FE5722;
  --color-navhome: #FE5722;
/*========== SETT COLOR SESUKAMU==========*/
  --first-color: #FE5722;
  --first-color-light: #FE5722;
  --title-color: #fff;
  --text-color: #000;
  --text-color-light: #000;
  --body-color: #000000;
  --container-color: rgba(255,255,255,0.06);
  --body-font: 'Arial', sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .79rem;
  --smaller-font-size: .75rem;
  --font-medium: 500;
  --font-semi-bold: 600;
  --z-fixed: 100;
}
*, ::before, ::after {
  box-sizing: border-box;
}
body {
  margin: var(--header-height) 0 0 0;
  padding: 1rem 1rem 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
    background: #fff;
  color: var(--text-color);
}
h3 {
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
			/* Hilangkan highlight biru saat disentuh */
* {
  -webkit-tap-highlight-color: transparent;
}

a, button, div {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

/* Hilangkan efek fokus biru */
:focus {
  outline: none !important;
}
body {
  -webkit-user-select: none;
  user-select: none;
}

</style>
